<div class="container">
<br>
<img src="/Honey.jpg" alt="honey I shrunk the kids photo" width="200">
<br>
<h1>Honey, I shrunk the links...</h1>

<p>Enter the long URL below:</p>

  <%= @error_message %>

<form name="input" action="/urls"  method="post" >
  Long URL: <input type="text" name="long_url">
  <input class="button" type ="submit" value = "Commence shrinkification">
</form> <br>
</div>


<div class="container">

  <form id="login" action='/login' method="post">  
      <h3>User Login</h3>
      <label for="email">Email:</label> 
      <input class="field" type="text" name="email"> <br>
      <label for="password">Password:</label> 
      <input class="field" type="password" name="password"> <br>
      <input class="button" type="submit" value="Login">
  </form>

  <form id="create" action='/create' method="post">  
      <h3>New Users: Create Account</h3>
      <label for="name">Fullname:</label> 
      <input class="field"  type="text" name="name"><br>
      <label for="email">Email:</label> 
      <input class="field"  type="text" name="email"> <br>
      <label for="password">Password:</label> 
      <input class="field"  type="password" name="password"><br>
      <input class="button" type="submit" value="Create me!">
  </form>
  
</div>

<div class="container">
  <h3> Shrunken URLs: </h3>
  <ul> <% @urls.each do |url| %> 

    <li><span id="click">[<%=url.clicks %> clicks] </span> SHORT: <a href=<%= url.short_url %> > <%= url.short_url%> </a>, LONG: <%=url.long_url %> 
    </li>

  <% end %></ul> 
</div>
