<div class="container">

  <a href='/logout'>Logout</a><br>
  <h3>WELCOME <span id="user_name"><%= @user.name %>!</span> You are logged in.</h3>

  <p>Enter the long URL below:</p>
    <%= @error_message %>
  <form name="input" action="/urls"  method="post" >
    Long URL: <input type="text" name="long_url">
    <input id="submit_button" type ="submit" value = "Commence shrinkification">
  </form> <br>

  <h3> These are your shortened URLs: </h3>
  <ul> <% Url.find_all_by_user_id(@user.id).each do |url| %> 

    <li><span id="click">[<%=url.clicks %> clicks] </span> SHORT: <a href=<%= url.short_url %> > <%= url.short_url%> </a>, LONG: <%=url.long_url %> 
    </li>

  <% end %></ul> 

</div>
